<!-- <h1>Employee ID: {{id}}</h1>
<p>Employee Name: {{name}}</p>
<table>
  <thead>
    <tr>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    @for (emp of employees; track $index){
      <tr>
        <td>
          <a href="#" [routerLink]="['/employee']"
             [queryParams]="{ empId: emp.empId, empName: emp.empName }">
            {{ emp.empName }}
            {{ emp.empDept }}
          </a>
        </td>
      </tr>
    }
  </tbody>
</table> -->

<h1>Employees</h1>
<div>
  <ul>
    @for (emp of employees; track emp.empId) {
      <li>
        {{ emp.empId}}
        <button (click)="navigateToDetail(emp.empId, emp.empName)">View Details</button>
      </li>
    }
  </ul>
</div>

