<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      [class.error]="isSubmitted && email?.invalid"
    >
    <div *ngIf="isSubmitted && email?.invalid" class="error-message">
      <span *ngIf="email?.errors?.['required']">Email is required</span>
      <span *ngIf="email?.errors?.['email']">Please enter a valid email</span>
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      formControlName="password"
      [class.error]="isSubmitted && password?.invalid"
    >
    <div *ngIf="isSubmitted && password?.invalid" class="error-message">
      <span *ngIf="password?.errors?.['required']">Password is required</span>
      <span *ngIf="password?.errors?.['minlength']">Password must be at least 6 characters</span>
    </div>
  </div>

  <button type="submit">Login</button>
  <button type="button" (click)="onReset()">Reset</button>
</form>
