<!-- <div>
  <h1>Property binding</h1>
  <input
      type="text"
      class="styled-input"
      value="{{inputValue}}"
      disabled="{{isDisabled}}"
  />
  <br>
  <input type="text" class="styled-input" [value]="inputValue"
  [disabled]="isDisabled"/>
</div>

<img [src]="imgSrc" alt="">

<button type="submit"  (click)="display()">Click Me</button> -->
<!--
<input type="text" (keydown)="onKeyDown()"/> -->

<!-- <input type="text" (keydown.enter)="onKeyDown()"/> -->

<!-- <input type="text" (keyup)="onKeyUp()"/>
<input type="text" (focus)="onFocus()"/> -->
<!-- <input type="text" (select)="onSelect()"/> -->
<!-- <input type="text" (blur)="onBlur()"/> -->
<!-- <input type="text" (keyup)="onKeyPress($event)"/> -->
 <!-- <input type="text" (keydown.shift.y)="isShift()"/> -->

<!-- <input type="text" [(ngModel)]="staticInput" /> <br /> <br />
<input type="text" [(ngModel)]="dynamicInput" />
<h1>{{ dynamicInput }}</h1> -->


<!-- <div *ngIf="display">Hello</div> -->

<!-- <h1 *ngIf="num > 0">{{ num }} Number is greather than 0</h1>
<h1 *ngIf="num < 0">{{ num }} Numer is less than 0</h1>
<h1 *ngIf="num == 0">{{ num }} Number is equal to 0</h1> -->
<!--
<button (click)="show()">Show</button>
<div *ngIf="displayElement">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolore perspiciatis aut at facere debitis excepturi ullam sapiente, possimus illo nam rem iusto voluptas consequatur tempore, voluptatum cum dignissimos adipisci?</p>
</div> -->
<!--
<div *ngFor="let value of fullStackDev" class="container">
  <ul>
    <li>{{value.id}}</li>
    <li>{{value.name}}</li>
    <li>{{value.age}}</li>
    <li>{{value.skills}}</li>
  </ul>
</div> -->
<!--
<div [ngSwitch]="person.age" style="text-align: center; font-size: 20px;">
  <p *ngSwitch="10" >The person's age is 10 years old</p>
  <p *ngSwitch="20" >The person's age is 20 years old</p>
  <p *ngSwitch="30" >The person's age is 30 years old</p>
  <p *ngSwitchDefault>The person's age is {{ person.age }} years old</p>
</div> -->

<!-- <div class="container">
  <label>Enter your age: </label>
  <input type="text" (input)="checkEligibility()" [(ngModel)]="age" />
  <div [ngSwitch]="isEligible">
    <p *ngSwitchCase="true" style="color: green; font-size: 20px;">You are eligible to vote.</p>
    <p *ngSwitchDefault style="color: red; font-size: 20px;">You are not eligible to vote.</p>
  </div>
</div> -->

<!-- <p [ngClass]="'updateStyles italicText italicFormat'">This is an examples of ngClass directives</p> -->

<!-- <input
  type="text"
  placeholder="Enter your name..."
  (input)="textInput($event)"
  [ngClass]="{'txt': hasText}"
/> -->


<!-- <button (click)="toggleMode()">
  {{ colorMode === 'light' ? 'Switch to Dark Mode' : 'Switch to Light Mode' }}
</button>
<div class="box" [ngClass]="colorMode">
  <h1>Light Mode</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit porro voluptas est iusto aut ipsa fuga expedita, molestiae earum dicta distinctio? Fuga molestias enim impedit veniam iusto deleniti harum dolorem?
  </p>
</div>

<div class="box" [ngClass]="colorMode">
  <h1>Dark Mode</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit porro voluptas est iusto aut ipsa fuga expedita, molestiae earum dicta distinctio? Fuga molestias enim impedit veniam iusto deleniti harum dolorem?
  </p>
</div> -->

<!-- <div style="text-align: center;">
  <p [ngStyle]="{color:colorVal,'font-size': fontSize, 'font-style':isItalic}">Example of [ngStyle] directive</p>
</div> -->

<!-- <div style="text-align: center;">
  <p [ngStyle]="applyVal">Example of [ngStyle] directive</p>
</div> -->

<!-- <h1>Normal Division</h1>
<div>
  <p>Item 1</p>
  <p>Item 2</p>
  <p>Item 3</p>
  <p>Item 4</p>
</div>
<hr>
<h1>ng-container</h1>
<ng-container>
  <p>Item 5</p>
  <p>Item 6</p>
  <p>Item 7</p>
  <p>Item 8</p>
</ng-container> -->

<!-- <ng-container *ngFor="let subject of subjectList">
  <div *ngIf="subject.subCode">
    <span style="margin-right: 5px; font: size 20px;">Subject Code: {{subject.subCode}}</span>
    <span style="font: size 20px;">Subject Name: {{subject.name}}</span>
  </div>
</ng-container> -->

<!-- <ng-container *ngIf="isAuthorized; else notAuthorized">
  <h1>Authorized User</h1>
</ng-container>
<ng-template #notAuthorized>
  <h1>Not Athorized</h1>
</ng-template> -->

<!-- <ng-container *ngIf="listItems.length > 0; else noItems">
  <ul>
    <li *ngFor="let item of listItems">{{ item }}</li>
  </ul>
</ng-container>
<ng-template #noItems>
  <p>No items to display</p>
</ng-template> -->

<!-- <div class="box">
  <div class="input-container">
    <input type="text" [(ngModel)]="user">
    <label for="" >Full Name</label>
  </div>
  <ng-container *ngIf="user !== ''; else notValid"></ng-container>
  <ng-template #notValid>
    <h3>Please enter your name</h3>
  </ng-template>
</div> -->

<!-- <ng-template #show let-msg="showMessage">
  <p style="font-size:20px;">Output: {{msg}}</p>
</ng-template>
<ng-container *ngTemplateOutlet="show; context:{showMessage:
calc() }"></ng-container> -->

<!-- <ng-template #employeeTable let-emp>
  <table border="1" style="width: 100%; text-align: center;
  margin-top: 20px;
  border-collapse: collapse;">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Salary</th>
    </tr>
    <tr *ngFor="let e of emp">
      <td>{{e.id}}</td>
      <td>{{e.name}}</td>
      <td>{{e.salary}}</td>
    </tr>
  </table>
</ng-template>
<ng-container
*ngTemplateOutlet="employeeTable; context:{$implicit:employees}">
</ng-container> -->

<!-- <h1 @If(showHeading)>Portfolio</h1>
<ng-container *ngIf="!submitted; else preview">
  <h2>Personal Information</h2>
  <form>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" id="name" [(ngModel)]="nm" />
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" id="email" [(ngModel)]="em"/>
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input type="tel" id="phone" name="phone" id="phone" [(ngModel)]="ph"/>
    </div>
    <div>
      <label for="address">Address:</label>
      <input type="text" id="address" name="address" id="address" [(ngModel)]="add"/>
    </div>
  </form>
  <h2>Qualifications</h2>
  <div *ngFor="let q of qualification; let i = index">
    <h3>Qualification {{i + 1}}</h3>
    <form>
      <div>
        <label for="school">School</label>
        <input type="text" id="school" name="school" id="school" [(ngModel)]="q.school"/>
      </div>
      <div>
        <label for="degree">Degree</label>
        <input type="text" id="degree" name="degree" id="degree" [(ngModel)]="q.degree"/>
      </div>
      <div>
        <label for="year">Year</label>
        <input type="text" id="year" name="year" id="year" [(ngModel)]="q.year"/>
      </div>
    </form>
  </div>
  <div class="btn-container">
    <button (click)="addQualification()">Add Qualification</button>
    <button type="submit" (click)="formSubmit()">Submit</button>
  </div>
</ng-container>
<ng-template #preview>
  <div class="preview-container">
    <h2>Preview</h2>
    <div>
      <p [ngClass]="{name: true}">{{nm}}</p>
      <p>Email : {{em}}</p>
      <p>Phone : {{ph}}</p>
      <p>Address : {{add}}</p>
    </div>
    <div *ngFor="let q of qualification">
      <h3>Qualification</h3>
      <div>
        <h5>School : {{q.school}}</h5>
        <h5>Degree : {{q.degree}}</h5>
        <h5>Year : {{q.year}}</h5>
      </div>
    </div>
    <button class="btn-edit" (click)="formEdit()">Edit</button>
  </div>
</ng-template> -->


<!-- <h1>Component Creation Hook</h1> -->
<!-- <button (click)="updateValue()">Update Value</button>
<app-test [inputValue] = "inputValue"></app-test> -->

<!-- <h1>Component Updation Hook</h1>
<div>
  <app-test [user] = "user"></app-test>
  <button (click)="changeUserName()">Change User Name</button>
</div> -->

<!-- <h1>Component Updation Hook</h1>
<div class="parent-component">
 <h2>Parent Component</h2>
 <button (click)="sendDataToChild()">Generate Number</button>

 <app-test>
  <h3>{{dataFromParent}}</h3>
  <div #contentWrapper>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, fugiat deleniti cumque soluta placeat quia alias laborum ratione repellendus voluptatibus delectus hic voluptates. Fugit sapiente asperiores quam eveniet voluptatum fugiat!
  </div>
 </app-test>
</div> -->

<!-- <div>
  <h1>App Component</h1>
  <button (click)="toggle()">Show/Hide</button>

  @if(displayComponent){
    <app-test></app-test>
  }
</div> -->

<!-- <div>
  <h1>Parent Component</h1>
  <app-test [recieveMessage]="displayMessage" ></app-test>
</div> -->

<!-- <div>
  <h2>App Component</h2>
  <button #btnIncr (click)="incrChildCounter()">Increment Counter</button>
  <app-test></app-test>
</div> -->

<!-- <div appHighlightElement>
  <h2>App Component</h2>
  <app-test>
    <section>
      <h3>Heading</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur nesciunt quod, accusamus sed nisi doloremque? Eveniet, voluptates consequuntur. Vel molestias temporibus voluptates cumque corporis eum magnam pariatur doloribus sunt dolorum?</p>
    </section>
  </app-test>
</div> -->

<!-- <h1 style="text-align: center;">{{ showDate | date : "dd MMMM yyyy" | uppercase}}</h1> -->

<!-- <h2>{{ "Angular Slice pipe" | slice: 0 : 13 }}</h2>
<h2>{{ "Angular Slice pipe" | slice: 0 : -11 }}</h2>
<h2>{{ "Angular Slice pipe" | slice: -11 }}</h2> -->

<!-- <h2>{{ itemArray | slice: 0:3}}</h2> -->

<!-- <div class="product-grid">
  <div
   class="product-card"
   *ngFor="let product of products | slice: startIndex : endIndex">
    <h2>{{product.name}}</h2>
    <img [src]="product.imageUrl" alt="Course Image" />
  </div>
  <div class="btn-container">
    <button type="button" (click)="previousPage()" [disabled]="startIndex == 0">Previous</button>
    <button type="button" (click)="nextPage()" [disabled]="endIndex >= products.length">Next</button>
  </div>
</div>
<h2 style="text-align: center;">Product ID: {{ 110.6789 | number:"3.2-2"}}</h2> -->


<!-- <h1>Student List</h1>
<table border="1" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Major</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.name }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.gender}}</td>
      <td>{{ student.major }}</td>
    </tr>
  </tbody>
</table>
<button type="button" (click)="toggleJson()">JSON Format</button>

<div *ngIf="showJson">
  <h2>JSON Format</h2>
  <pre>{{ students | json | titlecase }}</pre>
</div>
<h2 style="text-align: center;">{{ 110.6789 | number:"3.2-2" | currency:"USD"}}</h2> -->

<!-- <h1 style="text-align:center;">{{'Good' | appendText:" Morning"}}</h1> -->

<!-- <h1>Given Array: <span>[{{numbers}}]</span></h1>
<div class="button-container">
  <button type="button" (click)="sortOrder = 'asc'; showSorting()">Sort Asending</button>
  <button type="button" (click)="sortOrder = 'desc'; showSorting()">Sort Descending</button>
</div>
@if(showList){
  <div class="sorted-out">
    @if(sortOrder == 'asc'){
      <h2>Sorted Array in Ascending Order</h2>
    } @else if(sortOrder == 'desc'){
      <h2>Sorted Array in Descending Order</h2>
    }
    <ul class="number-list">
      @for( number of numbers | sortNumbers: sortOrder; track number) {
         <li>
          {{ number }}
         </li>
      }
    </ul>
  </div>
} -->

<div class="container">
  <h1>Letter Count</h1>
  <div class="inputbox">
    <input type="text" required [(ngModel)]="stringVal"/>
    <span>Enter String</span>
    <div class="result-container">
      <p>{{stringVal | letterCount}} letters</p>
    </div>
  </div>
</div>


