<!-- <div>
  <h1>Input Value</h1>
  <pre>{{ user | json }}</pre>
</div> -->

<!-- <div class="child-container">
  <h3>Child Component</h3>
  <div #wrapper>
    <ng-content></ng-content>
  </div>
</div> -->

<div>
  <h2>Test Component</h2>
  <p>
    This is a test component to demonstrate the use of Angular's component lifecycle hooks and data binding. The component receives an input value and displays it. It also has a button to update the value, which triggers the ngOnChanges lifecycle hook in the parent component.
  </p>
</div>
