* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
  /* background-color: #1f2022; */
  color: #fff;
}



button{
  background-color: rgb(248, 93, 49);
  position: relative;
  top: -6px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #262525;
}
